li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

.list-item {
  display: flex;
}

.list-item p {
  margin: 10px;
  color: #475569;
  font-weight: 500;
}

.logo-url {
  padding-left: 30px;
  padding-right: 15px;
}

#domain-url {
  color: #64748b;
  font-weight: 400;
}
.button {
  background-color: transparent;
  border: 0;
}
